@model Telekomunikacije.Models.Topic
@{
    ViewBag.Title = "Diskusije";
}

<h2>Nova Tema</h2>

@using (Html.BeginForm("Create", "Communication"))
{
    <div class="form-group">
        @Html.LabelFor(t => t.Title)
        @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
    </div> 
    <div class="form-group">
        @Html.LabelFor(t => t.Description)
        @Html.TextAreaFor(c => c.Description, new { @class = "form-control" })
    </div> 
   
    <button type="submit" class="btn btn-primary">Pokrrenite Temu</button>

}

