@model Telekomunikacije.Models.Course
@{
    ViewBag.Title = "Telekomunikacije";
}
<h2>@ViewBag.Title.</h2>

<p1>
    Savremeni svet ne može se zamisliti bez modernih telekomunikacija.
    Usavršavanje postojećih i razvoj novih telekomunikacionih tehnologija
    i servisa odvijaju se zapanjujućom brzinom, što zajedno sa razvojem
    računarskih i informatičkih nauka obezbeđuje visoki nivo komunikaciono-informacionih
    tehnologija koje će nesumnjivo obeležiti vek pred nama. Telekomunikacije su
    važna privredna grana sa ogromnim uticajem na ekonomski život u svakoj zemlji.
    Evolucija telekomunikacionih tehnologija, potrebe za novim profilima inženjera
    telekomunikacija, kao i novi pristup visokoškolskom obrazovanju koji zadovoljava
    visoke evropske standarde, rezultirali su u promenama nastavnih planova i programa
    tako da su, u skladu sa svetskim trendovima, u okviru modula „Telekomunikacije“ oformljeni sledeći podmoduli:
    <ul class="form-group">
        <li>Telekomunikacije I Obrada Signala</li>
        <li>Radio Komunikacioni Inzenjering I Tehnologije </li>
    </ul>
</p1>
